.loginPage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background: linear-gradient(89.08deg, #da7408 67.98%, #bf6607 99.14%);
}

.loginsubheading {
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  color: whitesmoke;
}

.loginheading {
  font-family: 'Kanit', sans-serif;
  font-weight: 800;
  font-size: 105px;
  color: whitesmoke;
  font-style: italic;
  line-height: 0.9em;
}

.inputs {
  margin-top: 12px;
}

.ctabtn {
  margin-top: 14px;
  gap: 24px;
  display: flex;
}

.logininput {
  padding: 6px;
  border-radius: 4px;
  border: none;
  width: 350px;
}

.logininput::placeholder {
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  color: #4a443cdf;
}

.loginbtn {
  background-color: #c21717;
  color: whitesmoke;
  width: 120px;
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
}

.signupbtn {
  border: solid 1px #c21717;
  background-color: #bf660700;
  color: #c21717;
  width: 120px;
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
}

.loginlabel {
  font-family: 'Prompt', sans-serif;
  font-weight: 200;
  color: whitesmoke;
}

.highlight {
  color: #c21717;
}

@media screen and (max-width: 375px) {
  .loginPage {
    flex-direction: column;
    padding: 26px;
  }

  .loginimg {
    width: 245px;
  }

  .loginsubheading {
    font-size: 16px;
  }

  .loginheading {
    font-size: 56px;
  }

  .logininput {
    padding: 8px;

    width: 350px;
  }
}
